.navbar {
	background-color: #E2F2DC;
	display: flex;
	justify-content: space-between;
	padding: 5px 20px;
}

.navbar-links {
	display: flex;
	align-items: center;
	gap: 20px;
}

.navbar-link {
	color: #9F3442;
	text-decoration: none;
}